.input-container {
  border: 1px solid gray;
  border-radius: 4px;
  width: 20rem;
  height: 2rem;
  position: relative;
}

.input-container input {
  width: 100%;
  border: none;
  position: absolute;
  inset: 0;
  z-index: 1;
  outline: none;
  padding: 0 0.5rem;
  font-size: 14px;
  background: transparent;
}
.input-container input:not([value=""]) {
  -webkit-text-fill-color: transparent;
}

.input-container .input-renderer {
  width: 100%;
  position: absolute;
  font-size: 14px;
  inset: 0;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  white-space: pre;
  user-select: none;
  scrollbar-width: none;
  overflow-x: auto;
}

.input-container .input-renderer::-webkit-scrollbar {
  display: none;
}

.suggestions{
  display: block;
  position: absolute;
  top: 0;
  padding: 1rem 0rem 0rem 0rem;
  list-style: none;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

* {
  box-sizing: border-box;
}